body {
    background: black;
    color: white;
}

.flex {
    display: flex;
    width: 1400px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.grid {
    display: grid;
    width: 1400px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    column-gap: 50px;
}

.gridItem1 {
    grid-column-start: 1;
    grid-column-end:4;
    margin: 10px;
}

.gridItem2 {
    grid-column-start: 6;
    grid-column-end:9;
    margin: 10px;
}

h1 {
    display: inline;
}

h1.mainTopic {
text-align: center;
flex-basis: 100%;
font-size: 30px;
}
.gridItem2 {
    grid-column-start: 9;
    grid-column-end: 10;
}

/* Base Flex Item */
.col {
    padding: 1rem 2rem;
    text-align: center;
}

#expandableBtn1 {
    flex-basis: 20%;
    order: 0;
}

#expandableBtn2 {
    flex-basis: 20%;
    order: 1;
}

#expandableBtn3 {
    flex-basis: 20%;
    order: 0;
}

#expandableBtn4 {
    flex-basis: 100%;
    order: 0;
}

#expandableBtn5 {
    flex-basis: 20%;
    order: 0;
}

#expandableBtn6 {
    flex-basis: 20%;
    order: 3;
}

#expandableBtn7 {
    flex-basis: 20%;
    order:4;
}

#expandableBtn8 {
    flex-basis: 20%;
    order:6;
}

#expandableBtn9 {
    flex-basis: 20%;
    order:8;
}

.subTopic {
    text-align: center;
    background-color: #d3afed;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    flex-basis: 70%;
}

#subTopic1 {
    flex-basis: 50%;
}

#subTopic2 {
    flex-basis: 50%;
    order: 0;
}

#subTopic3 {
    flex-basis: 50%;
}

#subTopic4 {
    flex-basis: 70%;
    margin-bottom: 10px;
}

#subTopic5 {
    flex-basis: 70%;
    order: 1;
}

#subTopic6 {
    flex-basis: 70%;
    order: 2;
}

#subTopic7 {
    flex-basis: 70%;
    order: 4;
}

#subTopic8 {
    flex-basis: 70%;
    order: 5;
}

#subTopic9 {
    flex-basis: 70%;
    order: 8;
}

#topicBtn1, #topicBtn2, #topicBtn3, #topicBtn4, #topicBtn5, #topicBtn6, #topicBtn7, #topicBtn8, #topicBtn9 {
    flex-basis: 20%;
    order: 0;
}       

#subTopic10,#subTopic11,#subTopic12,#subTopic13,#subTopic14,#subTopic15,#subTopic16,#subTopic17,#subTopic18 {
    flex-basis: 70%;
    margin: 10px;
    order: 1;
}

div.additional {
    flex-basis: 90;
    margin: 10px;
}

nav ul li{display:inline;}

ul.buttonList li {display: inline;}

li button {
    display: inline-block;
    padding: 10px 20px;
}

section img {
    /*border: 2px dotted;
    border-radius: 10px;*/
    width: 250px;
}

.pageBtn {
    color: white;
    background-color: #934ad7;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #4c1768;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font: 14px Arial, sans-serif;
}

header {
    background-color: blueviolet;
}

section {
    background-color: rgb(220, 130, 238);
}

footer {
    background-color: rgb(56, 23, 123);
}

/*CSS for responsive menu*/
#hamIcon{display:none;}
/*@media screen and (max-width:800px){
    /*nav ul li{display:block;}*/ /*make a menu items vertical*/
    /*#hamIcon{display: block;}*/ /* unhide menu icon */
    /*nav ul{display:none;}*/ /*hide the menu item list*/
/*}*/

    /* For Phone */
    @media screen and (max-width:520px) {
        .flex, .grid {
            width: 360px;
        }
        .grid {
            justify-content: center;
        }

        .gridItem1 {
            grid-column-start: 2;
            grid-column-end:9;
            margin: 10px;
        }

        .gridItem2 {
            grid-column-start: 2;
            grid-column-end:10;
            margin: 10px;
        }

        #expandableBtn1, #expandableBtn2, #expandableBtn3, #expandableBtn5, #expandablebtn7, #expandableBtn9 {
            flex-basis: 90%;
            text-align: center;
        }

        #expandableBtn6 {
            flex-basis: 90%;
            text-align: center;
            order: 2;
        }

        #expandableBtn8 {
            flex-basis: 90%;
            text-align: center;
            order: 6;
        }

        #subTopic8 {
            flex-basis: 90%;
            order: 7;
        }

        #subTopic1, #subTopic5, #subTopic6, #subTopic7, #subTopic8 {
            flex-basis: 90%;
        }

        #subTopic2 {
            flex-basis: 90%;
            order: 3;
        }

        .additional {flex-basis: 90%;
            text-align: center;}
            
        nav ul li{display:block;} /*make a menu items vertical*/
        #hamIcon{display: block;} /* unhide menu icon */
        nav ul{display:none;} /*hide the menu item list*/
        
        button {display: block;}

        img {
            max-width: 100%;
            height: auto;
        }
    }

    /* For tablet */
    @media screen and (min-width:520px) and (max-width:1080px) {
        .flex {
            width: 640px;
        }

        .grid {
            justify-content: center;
        }

        .gridItem1 {
            grid-column-start: 1;
            grid-column-end:10;
            margin: 10px;
        }

        .gridItem2 {
            grid-column-start: 1;
            grid-column-end:10;
            margin: 10px;
        }

        nav ul li{display:block;} /*make a menu items vertical*/
        #hamIcon{display: block;} /* unhide menu icon */
        nav ul{display:none;} /*hide the menu item list*/

        button {display: block;}
        
        .additional {flex-basis: 90%;
        text-align: center;}

        #subTopic2 {
            order: 3;
        }

        #expandableBtn1, #expandableBtn2, #expandableBtn3, #expandableBtn5, #expandablebtn7, #expandableBtn9 {
            flex-basis: 70%;
            text-align: center;
        }

        #expandableBtn6 {
            flex-basis: 70%;
            text-align: center;
            order: 2;
        }

        #expandableBtn8 {
            flex-basis: 70%;
            text-align: center;
            order: 6;
        }

        #subTopic8 {
            flex-basis: 70%;
            order: 7;
        }

        #subTopic10,#subTopic11,#subTopic12,#subTopic13,#subTopic14,#subTopic15,#subTopic16,#subTopic17,#subTopic18 {
            flex-basis: 90%;
            margin: 10px;
            order: 1;
        }
    }

    /* For Desktop */
    @media screen and (min-width:1080px) and (max-width: 1400px) {
        .flex {
            width: 1080px;
        }

        .gridItem1 {
            grid-column-start: 3;
            grid-column-end:4;
            margin: 10px;
        }

        .gridItem2 {
            grid-column-start: 6;
            grid-column-end:10;
            margin: 10px;
        }
    }
